<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
</head>
<body>
<table>
  <tbody>
  <tr>
    <th>Index</th>
    <th>Name</th>
    <th>Balance</th>
    <th>Animal</th>
    <th>Character</th>
  </tr>
  <tr th:each="bank : ${bank}" th:style="${bank.isKing} eq true ? 'color: orange' : 'color: black'">
    <td th:text="${bankStat.index}">index</td>
    <td th:text="${bank.name}">name</td>
    <td th:text="${#numbers.formatDecimal(bank.balance, 0, 'COMMA', 2, 'POINT') + ' Z'}">balance</td>
    <td th:text="${bank.animalType}">animal</td>
    <td th:switch="${bank.isGood}">
      <span th:case="true" th:text="'Good One'">character</span>
      <span th:case="false" th:text="'Bad Guy'">character</span>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
